/* Define styles for navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  nav img {
    width: 100px;
	height: 50px;
	margin-right: 100px;
  }
  nav a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
  }
 
  
  /* Define styles for hero section */
  .hero {
    background-image: url('spotlight.avif');
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
  }
  .hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .cta {
    background-color: #311377;
    color: #fff;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .cta:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
  }
  
  /* Define styles for about me section */
  body {
    background-color: rgb(101, 97, 119);
    font-family: Arial, sans-serif;
  }
  h1 {
    text-align: center;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100px;
  }
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px;
    text-align: center;

  }
  .skill img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
    margin-bottom: 10px;

  }
  
  /* Define styles for Footer section */

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  img {
    
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .social-media {
    display: flex;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
  }
  
  .social-media i {
    transition: all 0.3s ease-in-out;
  }
  
  .social-media a:hover i {
    transform: scale(1.2);
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }
  